<ul class="list-group">
  <li class="list-group-item" *ngFor='let user of users'>
    <div class="cotainer-fluid">
      <div class="row">
        <div class="col col-xs-6 name">
          <p class="name">{{ user.fullName }}</p>
        </div>
        <div class="col col-xs-3">
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>{{ user.role }}</option>
            <option value="1">Valdytojas</option>
          </select>
        </div>
        <div class="col col-xs-3 text-center">
          <button class="btn activated float-right">Aktyvuotas</button>
        </div>
      </div>
    </div>
  </li>
</ul>
