.content {
	margin-top: 8rem;
	margin-bottom: 90px;
}

.title {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1.2rem;
}

.btn {
	font-weight: 600;
	border-radius: 10px;
	border: 2px solid #eb008d;
	background-color: #eb008d;
	color: white;
	min-width: 50%;
	max-width: 100%;
	padding: .7rem;
	margin-bottom: 1rem;
}

.activated:hover {
	background-color: white;
	color: #eb008d;
}

.date-input {
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
	padding: .7rem;
	padding-left: 1.2rem;
	margin-bottom: 1rem;
}

.date-label {
		display: inline-block;
		margin-right: 1rem;
}