
.content {
	margin-top: 8rem;
	margin-bottom: 90px;
}

.new-input {
	margin-bottom: .4rem;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1.2rem;
}

button {
	font-weight: 600;
	border-radius: 10px;
	border: 2px solid #eb008d;
}

button:active {
	outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

}

.activated {
	background-color: #eb008d;
	color: white;
}

.edit {
	text-transform: capitalize;
	padding: 0 1rem!important;
	overflow: scroll;
	border: 0;
	margin: 0;
	color: #888a8c;
	vertical-align: middle;
	padding: .4rem;
}

.edit:hover {
	color: #212529;
}

.edit:focus {	
	color: #212529;
	border: 0;
	outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.input-text {
	overflow: scroll;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent;
}

i {
	font-size: 1.8rem;
	vertical-align: baseline;
}

i.valid {
	color: #4CAF50;
}

i.invalid {
	color: #F44336;
}

.input-new {
    width: 100%;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 10px;
    box-shadow: none;
	border: 1px solid rgba(0,0,0,.125);
}

.input-new:focus,
.input-new:active {
	outline: none
}

i.form-validation {
	line-height: 37px;
}

i.county-list,
span.countyId {
	line-height: 38px;
}

.category-select {
	text-transform: capitalize;
  height: 2.5rem;
  background-color: white;
  width: 100%;
  padding: 0 1rem;
  border-radius: 10px;
  box-shadow: none;
  border: 1px solid rgba(0,0,0,.125);
}

.category-select:focus,
.category-select:active {
	outline: none;
}

form {
	margin-bottom: .4rem;
}