.content {
	margin-top: 8rem;
	margin-bottom: 90px;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1.2rem;
}

button {
	font-weight: 600;
	border-radius: 10px;
	border: 2px solid #eb008d;
	min-width: 50%;
	max-width: 100%;
}

.activated,
.deactivated:hover {
	background-color: #eb008d;
	color: white;
}

.deactivated,
.activated:hover {
	background-color: white;
	color: #eb008d;
}

.edit {
	padding: 0 1rem!important;
	overflow: scroll;
	border: 0;
	margin: 0;
	color: #888a8c;
	vertical-align: middle;
	padding: .4rem;
}

.edit:hover {
	color: #212529;
}

.edit:focus {	
	border: 0;
	outline: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.name {
	white-space: nowrap;
	overflow: scroll;
}

p.name {
	line-height: 2.1rem;
	margin: 0;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent;
}

p.filter {
	line-height: 35px;
	font-weight: 600;
}

.item-id {
	font-weight: 600;
	text-align: center;
}

.item-photo {
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 20rem;
	object-fit: cover;
}

.item-info-list {
	list-style: none;
	text-transform: capitalize;
}

.item-info {
	padding: 1rem;
}

.info-email {
	text-transform: none;
}

.item {
	margin-top: 3rem;
}