<div class="content">
  <h2 class="title">Paieška</h2>
  <div class="container-fuild">
    <div class="row">
      <div class="col col-md-9">
        <input type="text" placeholder="Iveskite identifikacijos kodą" class="form-control search" [(ngModel)]="searchValue">
      </div>
      <div class="col col-md-3">
        <button class="btn activated" (click)="search()">Ieškoti</button>
      </div>
    </div>
  </div>
  <div class="row item" *ngIf="item">
    <div class="col col-md-10">
      <img class="item-photo" src="{{ item.photo }}"/>
    </div>
    <div class="col col-md-10">
      <ul class="item-info-list list-group">
        <li class="item-info list-group-item">Kategorija: {{ item.category.title }}</li>
        <li class="item-info list-group-item">Modelis: {{ item.type.title }}</li>
        <li class="item-info list-group-item" *ngIf="item.extra">Papildomi pozymiai: {{ item.extra }}</li>
        <li class="item-info list-group-item">Savininko A.K. {{ item.owner.personalId }}</li>
        <li class="item-info list-group-item">Apskritis: {{ item.countyCreated.title }}</li>
        <li class="item-info info-email list-group-item">Autorius: {{ item.author.email }}</li>
      </ul>
    </div>
  </div>
  <app-circle-loader [loading]="loading"></app-circle-loader>
  <app-toast [message]="toast"></app-toast>
</div>
