.content {
	margin-top: 8rem;
	margin-bottom: 90px;
}

.title {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1.2rem;
}

.btn {
	font-weight: 600;
	border-radius: 10px;
	border: 2px solid #eb008d;
	background-color: #eb008d;
	color: white;
	min-width: 50%;
	max-width: 100%;
	padding: .7rem;
	margin-bottom: 1rem;
}

.activated:hover {
	background-color: white;
	color: #eb008d;
}

.search {
	padding: .7rem;
	padding-left: 1.2rem;
	margin-bottom: 1rem;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent;
}

.item {
	margin-top: 3rem;
}

.item-photo {
	width: 100%;
	display: block;
	margin: 0 auto;
	height: 20rem;
	object-fit: cover;
}

.item-info-list {
	list-style: none;
	text-transform: capitalize;
}

.item-info {
	padding: 1rem;
}

.info-email {
	text-transform: none;
}