h2 {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
}

p {
	text-align: center;
}

a {
	color: #0d9bde;
}

div.container {
	margin-top: 2.5rem;
}

div.button {
	text-align: right;
}

input {
	font-size: 1.2rem;
}

button.submit {
	font-weight: 600;
	background-color: #eb008d;
	padding: 0.5rem 2rem;
	font-size: 1.1rem;
	border: 0;
}

button.submit:hover,
button.submit:active {
	background-color: #eb008d!important;
	border: 0;
	outline: 0!important;
}

.form-control:focus {
	border-color: #0d9bde;
	box-shadow: none;
	outline: 0 none;
}

.counties-select {
	font-size: 1.2rem;
	text-transform: capitalize;
}

.is-invalid:focus {
	border: 1px solid red;
}

.alert {
	margin-top: 1.5rem;
}