<div class="container">
  <div class="row justify-content-md-center">
    <form class="col col-md-5" #registrationForm="ngForm" (ngSubmit)="onFormSubmit(registrationForm)">
    <h2>Registruokitės</h2>
    <p><a [routerLink]="['/authentication/login']">Jau turite paskyrą?</a></p>
      <div class="form-group">
        <input required type="text" class="form-control" placeholder="Vardas, pavardė" name="fullName" [(ngModel)]="user.fullName" #fullName="ngModel">
      </div>
      <div class="form-group">
        <input required type="email" [ngClass]="{'danger': email.errors && (email.touched || email.dirty)}" class="form-control" (keyup)="onEmailInput($event, registrationForm)" placeholder="El. pašto adresas" name="email" [(ngModel)]="user.email" #email="ngModel">
      </div>
      <div class="form-group">
        <select required class="form-control counties-select" name="county" [(ngModel)]="user.county" #county="ngModel">
          <option value="" disabled selected>Apskritis</option>
          <option *ngFor="let county of counties" [value]="county._id">{{ county.title }}</option>
        </select>
      </div>
      <div class="form-group">
        <input required type="password" [ngClass]="{'danger': password.errors && (password.touched || password.dirty)}" class="form-control" placeholder="Slaptažodis" name="password" [(ngModel)]="user.password" #password="ngModel">
      </div>
      <div class="form-group">
        <input required type="password" [ngClass]="{'danger': password.errors && (password.touched || password.dirty)}" (keyup)="onPasswordInput($event, registrationForm)" class="form-control" placeholder="Pakartokite slaptažodį" name="rePassword" [(ngModel)]="user.rePassword" #rePassword="ngModel">
      </div>
      <div class="form-group button">
        <button type="submit" class="btn btn-primary submit" [ngClass]="{'disabled': !registrationForm.valid}" [disabled]="!registrationForm.valid">Pirmyn</button>
      </div>
    </form>
  </div>
</div>
