<div class="container">
  <div class="row justify-content-md-center">
    <form class="col col-md-5">
    <h2>Prisijunkite</h2>
    <p><a [routerLink]="['/authentication/register']">Neturite paskyros?</a></p>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="El. pašto adresas">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Slaptažodis">
      </div>
      <div class="form-group button">
        <button type="submit" class="btn btn-primary"[routerLink]="['/dashboard']" >Pirmyn</button>
      </div>
    </form>
  </div>
</div>