<div class="content">
  <h2>Kategorijos</h2>
  <div class="container-fuild">
    <div class="row">
      <div class="col col-md-10">
        <input type="text" placeholder="Paieška" class="form-control">
      </div>
      <div class="col col-md-2">
        <button class="btn add">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="cotainer-fluid">
        <div class="row">
          <div class="col-md-9">
            <input value="Dviračiai" class="city"/>
          </div>
          <div class="col col-md-3 text-center">
            <button class="btn activated float-right">Redaguoti</button>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="cotainer-fluid">
        <div class="row">
          <div class="col-md-9">
            <input value="Telefonai" class="city"/>
          </div>
          <div class="col col-md-3 text-center">
            <button class="btn disabled activated float-right">Redaguoti</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

