.content {
	margin-top: 90px;
	margin-bottom: 90px;
}

input {
	padding: .7rem;
	padding-left: 1.2rem;
	margin-bottom: 1rem;
}

input:focus {
  border: 1px solid #0d9bde;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 2rem;
}

button {
	font-weight: 600;
	border-radius: 10px;
	border: 2px solid #eb008d;
}

button.activated {
	background-color: #eb008d;
	color: white;
}

li {
	overflow: hidden;
	clear: both;
}

p {
	line-height: 38px;
	vertical-align: middle;
	margin: 0;
}

button.add {
	background-color: #eb008d;
	border-radius: 50%;
	color: white;
	font-weight: 700;
	padding: .5rem .6rem;
}

i {
	vertical-align: middle;
}

input.city {
	border: 0;
	margin: 0;
	color: #888a8c;
	vertical-align: middle;
	padding: .4rem;
}

input.city:hover {
	color: #212529;
}

input.city:focus {	
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

