<div class="content">
  <h2 class="title">Darbuotojai</h2>
  <app-common-searchbar (passSearch)="onSearch($event)"></app-common-searchbar>
  <app-loader [loading]="loading"></app-loader>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users | usersFilter: searchValue">
      <div class="cotainer-fluid">
        <div class="row">
          <div class="col col-xs-9 name">
            <p class="name">{{ user.fullName }}</p>
          </div>
          <div class="col col-xs-3 text-center">
            <button
              class="btn float-right"
              [ngClass]="user.active ? 'activated' : 'deactivated'"
              (click)="changeUserStatus(user)">
              {{ user.active ? 'Aktyvuotas' : 'Neaktyvuotas'  }}
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <app-toast [message]="toast"></app-toast>
</div>