.content {
	margin-top: 8rem;
	margin-bottom: 90px;
}

.title {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 1.2rem;
}

.btn {
	font-weight: 600;
	border-radius: 10px;
	border: 2px solid #eb008d;
	min-width: 50%;
	max-width: 100%;
}

.activated,
.deactivated:hover {
	background-color: #eb008d;
	color: white;
}

.deactivated,
.activated:hover {
	background-color: white;
	color: #eb008d;
}

.name {
	text-transform: capitalize;
	line-height: 2.6rem;
	margin: 0;
	white-space: nowrap;
	overflow: scroll;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent;
}