<div class="content">
  <h2>{{ title }}</h2>
  <app-common-searchbar (passSearch)="onSearch($event)"></app-common-searchbar>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col col-4 text-center">
        <p class="filter">Apskritis</p>
      </div>
      <div class="col col-4">
        <select class="custom-select" (change)="countiesFilter(user, $event)">
          <option selected value="">---------</option>
          <option *ngFor="let county of counties" value="{{ county._id }}">{{ county.title }}</option>
        </select>
      </div>
    </div>
  </div>
  <app-loader [loading]="loading"></app-loader>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let user of users | usersFilter: searchValue | countiesFilter: selectedCounty">
      <div class="cotainer-fluid">
        <div class="row">
          <div class="col col-xs-6 name">
            <p class="name">{{ user.fullName }}</p>
          </div>
          <div class="col col-xs-3">
            <select class="custom-select" (change)="changeUserRole(user, $event)">
              <option
                *ngFor="let role of roles"
                value="{{ role.role }}"
                [selected]="user.role == role.role">
                {{ role.title }}
              </option>
            </select>
          </div>
          <div class="col col-xs-3 text-center">
            <button
              class="btn float-right"
              [ngClass]="user.active ? 'activated' : 'deactivated'"
              (click)="changeUserStatus(user)">
              {{ user.active ? 'Aktyvuotas' : 'Neaktyvuotas'  }}
            </button>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div id="snackbar" [ngClass]="{'show': message}">{{ message }}</div>
</div>