<div class="content">
  <h2>Naudotojai</h2>
  <input type="text" placeholder="Paieška" class="form-control">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="cotainer-fluid">
        <div class="row">
          <div class="col-md-6">
            <p>Dominykas Seputis</p>
          </div>
          <div class="col col-md-3">
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Administratorius</option>
              <option value="1">Valdytojas</option>
            </select>
          </div>
          <div class="col col-md-3 text-center">
            <button class="btn deactivated float-right">Aktyvuotas</button>
          </div>
        </div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="cotainer-fluid">
        <div class="row">
          <div class="col-md-6">
            <p>Dominykas Seputis</p>
          </div>
          <div class="col col-md-3">
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Administratorius</option>
              <option value="1">Valdytojas</option>
            </select>
          </div>
          <div class="col col-md-3 text-center">
            <button class="btn deactivated float-right">Aktyvuotas</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>